* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #48badd;
}

main {
    width: 400px;
    padding: 2rem;
    margin: auto;
}

main h1 {
    text-align: center;
}

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

input[type=button]{
    height: 25px;
    width: 50%;
    margin: 8px 0;
    border-radius: 4px;
    text-align: center;
}
